#header {
    text-align: center;
}

#resbtn {
    margin-left: 500px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

#viewbtn {
    margin-right: 100px;
    background-color: red;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

#tablesleft {
    margin-left: 525px;
}

.wrapper {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 80%;
    margin-left: 150px;
    padding: 10px;
}

#tablesleft1 {
    text-align: center;
}

#resbtn1 {
    margin-left: 525px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

#viewbtn1 {
    margin-right: 100px;
    background-color: red;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}